.header__navWrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.header__navWrapper .header__toggler {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.header__navWrapper .header__hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: rgba(45, 156, 219, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__navWrapper .header__hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--gray1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.header__navWrapper .header__hamburger > div::before,
.header__navWrapper .header__hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.header__navWrapper .header__hamburger > div::after {
  top: 10px;
}

.header__navWrapper .header__toggler:checked + .header__hamburger > div {
  transform: rotate(135deg);
}

.header__navWrapper .header__toggler:checked + .header__hamburger > div::before,
.header__navWrapper .header__toggler:checked + .header__hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

.header__navWrapper .header__toggler:checked:hover + .header__hamburger > div {
  transform: rotate(225deg);
}

.header__navWrapper .header__toggler:checked ~ .header__menu {
  visibility: visible;
}

.header__navWrapper .header__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(39, 174, 96);
  background: radial-gradient(
    circle,
    rgba(39, 174, 96, 0.95) 0%,
    rgba(45, 156, 219, 0.95) 100%
  );
}
