:root {
  --blue: #2d9cdb;
  --green: #27ae60;
  --navy: #100e1d;
  --red: #c74c34;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: default;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(100vh - 100px);
  margin: 13px 14px 50px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

label {
  display: block;
  padding-bottom: 5px;
  font-size: 10px;
  line-height: 15px;
  color: var(--gray3);
}

button {
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray6);
}

button:focus {
  outline: 1px solid var(--navy);
}

input {
  padding: 0;
  border: 0;
  background-color: inherit;
  outline: none;
}

input::placeholder {
  color: var(--gray4);
}

.material-icons.md-light,
.material-icons-round.md-light {
  color: rgba(255, 255, 255, 1);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header__title {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: var(--gray1);
}

.header__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__link {
  font-size: 24px;
  line-height: 36px;
}

/* HERO */

.hero {
  margin-top: 48px;
}

.hero__header {
  margin-left: 30px;
  width: 80%;
}

.hero__title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray1);
}

.hero__subtitle {
  font-size: 12px;
  line-height: 18px;
  color: var(--blue);
}

.hero__img {
  border-radius: 18px;
  margin-bottom: 22px;
}

.hero__content {
  margin-left: 30px;
  width: 80%;
}

.hero__about {
  padding-top: 18px;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 18px;
  color: var(--gray2);
}

.hero__inputBox {
  width: 291px;
  height: 47px;
  background: var(--gray6);
  border-radius: 12px;
  padding: 4px 4px 4px 19px;
  display: flex;
}

.hero__inputBox:focus-within {
  outline: 1px solid var(--navy);
}

.hero__input {
  flex: 1;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray2);
}

.hero__button {
  width: 71px;
  height: 39px;
  background: var(--blue);
  border-radius: 12px;
}

/* SERVICES */

.services {
  margin-top: 100px;
}

.services__header {
  margin-left: 30px;
  width: 75%;
}

.services__title {
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray1);
}

.services__items {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.services__item {
  padding: 49px 34px 43px;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.services__icon {
  width: 67px;
  height: 67px;
  background: var(--blue);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__icon--green {
  background: var(--green);
}

.services__icon--red {
  background: var(--red);
}

.services__itemTitle {
  margin-top: 35px;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray1);
}

.services__itemText {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray2);
}

.services__itemLink {
  display: block;
  width: max-content;
  margin-top: 30px;
  padding: 9px 12px;
  background-color: var(--gray5);
  border-radius: 12px;
  color: white;
}

.services__itemLink:hover,
.services__itemLink:focus {
  background-color: var(--blue);
}

/* WORKS */

.works {
  margin-top: 100px;
}

.works__header {
  margin-left: 30px;
  width: 80%;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray1);
}

.works__items {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.works__img {
  border-radius: 12px;
}

.works__itemHeader {
  margin-top: 12px;
}

.works__itemSubtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: var(--gray3);
}

.works__itemTitle {
  font-size: 18px;
  line-height: 27px;
  color: var(--gray1);
}

.works__more {
  width: max-content;
  margin-top: 35px;
  font-size: 18px;
  line-height: 27px;
  color: var(--blue);
  display: flex;
  align-items: center;
}

.works__arrow {
  padding-left: 12px;
  overflow: hidden;
}

/* TEAM */

.team {
  margin-top: 100px;
}
.team__header {
  width: 80%;
}

.team__subtitle {
  font-size: 18px;
  line-height: 27px;
  color: var(--red);
}

.team__title {
  margin-top: 7px;
  font-size: 36px;
  line-height: 54px;
  color: var(--gray1);
}

.team__text {
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray2);
}

.team__images {
  margin-top: 36px;
  display: grid;
  grid-template-areas:
    "img1 img2"
    "img1 img3";
  gap: 9px;
}

.team__img {
  background: var(--gray4);
  border-radius: 24px;
}

.team__img--1 {
  grid-area: img1;
  align-self: center;
}

.team__img--2 {
  width: 90%;
}

/* CLIENTS */

.clients {
  margin-top: 100px;
}

.clients__quote {
  font-size: 24px;
  line-height: 36px;
  color: var(--gray1);
}

.clients__client {
  margin-top: 25px;
  display: grid;
  align-items: end;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "img name"
    "img about";
}

.clients__name {
  font-size: 24px;
  line-height: 36px;
  color: var(--gray1);
}

.clients__about {
  font-size: 18px;
  line-height: 27px;
  color: var(--gray3);
}

.clients__img {
  width: 82px;
  height: 82px;
  background: var(--gray3);
  border-radius: 12px;
  grid-area: img;
  margin-right: 30px;
}

/* FOOTER */

.footer {
  margin: 100px -14px -50px -10px;
  background: var(--navy);
  padding: 36px 40px 24px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer__link {
  font-size: 18px;
  line-height: 200%;
  width: max-content;
  font-weight: normal;
}

.footer__social {
  margin-top: 64px;
}

.footer__companyName {
  font-family: Heebo;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  color: var(--gray6);
}

.footer__icons {
  margin-top: 8px;
  display: flex;
  gap: 11px;
}

.footer__icon {
  cursor: pointer;
}

.footer__form {
  margin-top: 65px;
}

.footer__inputBox {
  width: 291px;
  height: 47px;
  background: var(--gray6);
  border-radius: 12px;
  padding: 4px 4px 4px 19px;
  display: flex;
}

.footer__inputBox:focus-within {
  outline: 1px solid var(--gray5);
}

.footer__input {
  flex: 1;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray2);
}

.footer__button {
  width: 71px;
  height: 39px;
  background: var(--blue);
  border-radius: 12px;
}

.footer__signature {
  margin-top: 150px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: var(--gray6);
  text-align: center;
}

.footer__signature--fw700 {
  font-weight: 700;
}

.footer__signature--fw500 {
  font-weight: 500;
}

.footer__signature--underline {
  text-decoration: underline;
}
